<div data-sly-use.titlecomponent="com.myproject.core.models.TitleComponent">
    <div class="title">
        <h2>${titlecomponent.title}</h2>
        <h2>${titlecomponent.tags}</h2>
        <h2>${titlecomponent.name}</h2>
        <h2>${titlecomponent.language}</h2>
        <h2>${titlecomponent.template}</h2>

        <h2>${titlecomponent.lastModified}</h2>
        <h2>${titlecomponent.navigationTitle}</h2>
        <h2>${titlecomponent.pageManager}</h2>
        <h2>${titlecomponent.path}</h2>
        <h2>${titlecomponent.parent}</h2>
        <h2>${titlecomponent.hasContent}</h2>
        <h2>${titlecomponent.isValid}</h2>
        <h2>${titlecomponent.isLocked}</h2>
        <h2>${titlecomponent.properties}</h2>
    </div>
</div>