<div data-sly-use.imagedescription="com.myproject.core.models.ImageDescription">
    <div class="imagedescription-container">
        <div class="imagedescription-content">
            <h1>${imagedescription.title}</h1>
            <h3>${imagedescription.description}</h3>
            <a href="${imagedescription.registerLink}">${imagedescription.label}</a>
        </div>
        <div class="imagedescription-image">
            <img src="${imagedescription.fileReference}" alt="${imagedescription.title}">
        </div>
    </div>
</div>
